 {% extends "layout.html" %}{% load static %}{% load i18n %} {% block body %} {% if user.is_authenticated %}
<link rel="stylesheet" href="{% static 'css/signinstyle.css' %}">

<section class="left-text center-sm-text">
    <div class="login-box container" style="margin-top: 5px; margin-bottom: 5px">
        <div class="back-box">
            <div class="row">
                <h1 class="col">Registration</h1>
            </div>
            <div class="container">
                <form action="{% url 'signin' %}" class="form-floating row" method="POST">{% csrf_token %} {% for field in form %}

                    <div class="textbox form-floating col-md-{% if forloop.counter == 11 or forloop.counter == 12 or forloop.counter == 13 %}4{% elif forloop.counter == 9  or forloop.counter == 10 %}12{% else %}6{% endif %}">
                        {{ field }}{{ field.label_tag }}
                    </div>
                    {% endfor %}
                    <button type="submit" class="sign_in_btn">Register</button>
                </form>
            </div>
            <a href="{% url 'signin' %}"><input type="button" class="sign_up_btn" value="Login"></a>
            <a href="{% url 'home' %}"><input type="button" class="back_btn" value="Home"></a>
        </div>
    </div>
</section>
{% endif %} {% endblock %}