 {% extends "layout.html" %}{% load static %}{% load getfunc %}{% load compress %}{% block body %} {% compress css %}
<link rel="stylesheet" href="{% static 'css/signinstyle.css' %}"> {% endcompress %}
<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
<style>
    body {
        background-image: url('{% static "images/freefire.webp" %}');
    }
    
    label[for="id_gender"] {
        color: black;
    }
</style>

<!-- JavaScript Bundle with Popper -->
<div class="login-box container" style="margin-top: 5px; margin-bottom: 5px">
    <div class="back-box">
        <center>
            <div class="row">
                <h1 class="col">{{heading}}</h1>
            </div>
        </center>
        <!-- ==Flashed Message== -->
        {% if messages %} {% for message in messages %}
        <div {% if message.tags %} class="alert alert-{{message.tags}} alert-dismissible fade show" {% endif %} role="alert">
            {{message|safe}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %} {% endif %} {% for error in form.errors %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {{form.errors|get_val:error}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
        <!-- ==Ends== -->
        <div class="container">
            <form action="?" autocomplete="off" class="form-floating row needs-validation" method="POST">{% csrf_token %} {% for field in form %}
                <div data-aos="fade-down" class="textbox form-floating col-md-{% if forloop.counter == 1 or forloop.counter == 4 %}12{% else %}6{% endif %}">
                    {{ field }}{{ field.label_tag }}{% if field.help_text %}<br/><br/><span style="font-size: 15px;" class="help_text{{forloop.counter}}">{{ field.help_text }}</span> {% endif %} <br/><br/> {% for error in field.errors %}
                    <span style="font-size: 15px;" class="text-danger">
                        {{error}}
                    </span>{% endfor %}
                </div>
                {% endfor %}{% if referral %}
                <div class="textbox form-floating col-md-12" data-aos="zoom-in">
                    <input class="form-control" id="id_referral_code" maxlength="6" name="referral_code" {% if user.referral_code %}value={{user.referral_code}}{% endif %} type="text" />
                    <label for="id_registration_no">Referral Code:</label>
                    <br/><br/>
                    <span style="font-size: 15px;">(Optional | Case Sensitive)</span> <br/><br/>
                </div>
                {% endif %}{% if view_profile %}
                <div data-aos="zoom-in" class="textbox form-floating col-md-10"><input class="form-control" disabled="true" id="id_unique_id" name="unique_id" type="text" value="{{user.unique_id}}" /><label for="id_unique_id">Unique id:</label></div>{% endif %} {% if display %}
                <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" id="aggrement" required>
                    <label class="form-check-label" for="aggrement">By registering yourself in TGL 2.0, you agree to our <a href="{% url 'tos' %}" target="_blank" title="Terms & Condition">Terms & Condition</a> and our <a href="{% url 'privacy_policy' %}" target="_blank" title="Privacy Policy">Privacy Policy</a></label>
                </div>
                {% endif %}
                <button data-aos="zoom-in-up" type="submit" class="sign_in_btn">{{heading}}</button>
            </form>
        </div>
        {% if display %}
        <a data-aos="zoom-in-up" href="{% url 'signin' %}"><button data-aos="zoom-in-up" type="submit" class="sign_up_btn">Login</button> </a>
        <a data-aos="zoom-in-up" href="{% url 'home' %}"><button data-aos="zoom-in-up" type="submit" class="back_btn">Home</button> </a> {% endif %}
    </div>
</div>
{% endblock %}