% extends 'registration/password_reset_layout.html' %}{% load static %} {% block script %}
<script src="https://www.google.com/recaptcha/api.js"></script>

<script>
    function onSubmit(token) {
        document.getElementById("demo-form").submit();
    }
</script>
{% endblock %} {% block body %}
<form class="form-signin" id='demo-form' method='POST'>{% csrf_token %}
    <div class="text-center mb-4">
        <img class="mb-4" src="{% static 'icons/logo.png' %}" alt="" width="150px" height="150px">
        <h1 class="h3 mb-3 font-weight-normal">Forgot password ?</h1>
        <p>
            Forgot your password? No problem! because
            <br/>
            <code>You can reset it from here.</code>
        </p>
    </div>

    <!-- ==Flashed Message== -->
    {% if messages %} {% for message in messages %}
    <div {% if message.tags %} class="alert alert-{{message.tags}} alert-dismissible fade show" {% endif %} role="alert" id="alertdismissible">
        <marquee>{{ message|safe }}</marquee>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
    </div>
    {% endfor %} {% endif %}
    <!-- ==Ends== -->

    <div class="form-label-group input-group-lg">
        {% for field in form %}{{ field }} {{ field.label_tag }}{% for error in field.errors %}
        <p style="color: red">{{ error }}</p>
        {% endfor %} {% endfor %}
    </div>

    <button class="btn btn-lg btn-primary btn-block g-recaptcha" data-callback='onSubmit' data-action='submit' data-sitekey="6LeUaa0ZAAAAADtMCsIgXWplSaukpxyBI5JnwyaG" type="submit">Get Reset Password Link</button>

    <p class="mt-5 mb-3 text-muted text-center">&copy; TGL 2.0 -
        <script>
            document.write(new Date().getFullYear());
        </script>
    </p>
</form>
{% endblock %}