{% extends 'registration/password_reset_layout.html' %} {% load i18n %}{% load static %} {% block body %}

<script>
    var val = "{% url 'signin' %}";
</script>

<div class="form-signin">
    <div class="text-center mb-4">
        <img class="mb-4" src="{% static 'icons/logo.png' %}" alt="" width="150px" height="150px">

        <h4>
            <p>{% trans 'Your password has been set. You may go ahead and ' %}<a href="" onclick="location.href=val;return false;">sign in</a> {% trans 'now.' %}</p>
        </h4>

    </div>
    <p class="mt-5 mb-3 text-muted text-center">&copy; TGL 2.0 -
        <script>
            document.write(new Date().getFullYear());
        </script>
    </p>
</div>
{% endblock %}