{% extends 'registration/password_reset_layout.html' %} {% load static %} {% block body %} {% if validlink %}
<form class="form-signin" method='POST'>{% csrf_token %}
    <div class="text-center mb-4">
        <img class="mb-4" src="{% static 'icons/logo.jpg' %}" alt="" width="150px" height="150px">
        <h1 class="h3 mb-3 font-weight-normal">Reset Password</h1>
        <p>
            Reset your password <code><b>here</b></code>.
        </p>
    </div>

    <!-- ==Flashed Message== -->
    {% if messages %} {% for message in messages %}
    <div {% if message.tags %} class="alert alert-{{message.tags}} alert-dismissible fade show" {% endif %} role="alert" id="alertdismissible">
        <marquee>{{ message|safe }}</marquee>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
    </div>
    {% endfor %} {% endif %}
    <!-- ==Ends== -->

    {% for field in form %}
    <div class="form-label-group input-group-lg">
        {{ field }} {{ field.label_tag }} {% for error in field.errors %}
        <p style="color: red">{{ error }}</p>
        {% endfor %}
    </div>
    {% endfor %}

    <button class="btn btn-lg btn-primary btn-block" type="submit">Reset your password</button>

    <p class="mt-5 mb-3 text-muted text-center">&copy; TGL 2.0 -
        <script>
            document.write(new Date().getFullYear());
        </script>
    </p>
</form>

{% else %} {% load i18n %}
<div class="form-signin">
    <div class="text-center mb-4">
        <img class="mb-4" src="{% static 'icons/logo.png' %}" alt="" width="150px" height="150px">
        <h4>
            <p>{% trans 'The password reset link was ' %} <code>{% trans 'invalid,' %}</code> {% trans 'possibly because it has already been used. Please request a new password reset.' %}</p>
        </h4>
        <a href='{% url "password_reset" %}' class="btn btn-lg btn-primary btn-block" style="  color: white;">Get a reset password email</a>
    </div>
    <p class="mt-5 mb-3 text-muted text-center">&copy; TGL 2.0 -
        <script>
            document.write(new Date().getFullYear());
        </script>
    </p>
</div>

{% endif %} {% endblock %}