{% load static %}{% load compress %}
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <title>TGL 2.0 {{title}}</title>
    <link rel="shortcut icon" type="image/icon" href="{% static 'icons/logo.png' %}" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0"> {% compress css %}
    <link rel="stylesheet" href="{% static 'css/loginstyle.css' %}"> {% endcompress %}
    <meta name="robots" content="NOINDEX, NOFOLLOW">
</head>

<body>
    <div class="login-box">
        <div class="back-box">
            <h1>Login</h1>
            <form action="{% url 'signin' %}" method="POST">{% csrf_token %} {% for field in form %} {% if forloop.counter == 1 %}
                <div class="textbox">
                    <i class="fas fa-user"></i> {{ field }}
                </div>
                {% else %}
                <div class="textbox">
                    <i class="fas fa-lock"></i> {{ field }}
                    <span class="eye" onclick="myFunctions()">
                  <i id="hide1" class="fas fa-eye"></i>
                  <i id="hide2" class="fas fa-eye-slash"></i>
                </span>
                </div>
                {% endif %} {% endfor %}
                <button type="submit" class="sign_in_btn">Sign in</button>
            </form>
            <a href="{% url 'signup' %}"><input type="button" class="sign_up_btn" value="Sign up"></a>
            <a href="{% url 'home' %}"><input type="button" class="back_btn" value="Home"></a>
            <a href="{% url 'password_reset' %}"><input type="button" class="sign_in_btn" value="Password Reset"></a>
        </div>
    </div>
    {% compress js %}
    <script src="{% static 'js/login.js' %}"></script>
    {% endcompress %}
</body>
<script>
    /**
     * Disable right-click of mouse, F12 key, and save key combinations on page
     */
    window.onload = function() {
        document.addEventListener("contextmenu", function(e) {
            e.preventDefault();
        }, false);
        document.addEventListener("keydown", function(e) {
            //document.onkeydown = function(e) {
            // "I" key
            if (e.ctrlKey && e.shiftKey && e.keyCode == 73) {
                disabledEvent(e);
            }
            // "J" key
            if (e.ctrlKey && e.shiftKey && e.keyCode == 74) {
                disabledEvent(e);
            }
            // "S" key + macOS
            if (e.keyCode == 83 && (navigator.platform.match("Mac") ? e.metaKey : e.ctrlKey)) {
                disabledEvent(e);
            }
            // "U" key
            if (e.ctrlKey && e.keyCode == 85) {
                disabledEvent(e);
            }
            // "F12" key
            if (event.keyCode == 123) {
                disabledEvent(e);
            }
        }, false);

        function disabledEvent(e) {
            if (e.stopPropagation) {
                e.stopPropagation();
            } else if (window.event) {
                window.event.cancelBubble = true;
            }
            e.preventDefault();
            return false;
        }
    };
</script>

</html>