{% extends 'layout.html' %}{% load static %}{% load compress %}{% block body %} {% compress css %}
<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" />{% endcompress %}{% if not payafter %}
<div class="container">
    <form action="{% if action_url %}{{action_url}}{% else %}?{% endif %}" method="POST">{% csrf_token %}{% if display_games %}
        <div class="row row-cols-1 row-cols-md-3 g-4">
            {% for i in games %}
            <div class="col">
                <div class="games">
                    <u><a target="_blank" class="text-light" href="{% url 'about_game' i.id %}"><h2>{{i.name}} <i class='bx bx-link-external'></i></h2></a></u>
                    <div class="container1">
                        <p data-aos="zoom-in-down"><img src="{% static i.image_url %}" class="card-img-top" loading="lazy" /></p>
                    </div>
                    <div class="container2" data-aos="zoom-in-down">
                        <p>Select Mode</p>
                        <h6>{% if i.has_solo_entry %}Solo Entry: ₹{{i.solo_entry}}{% endif %} &nbsp;{% if i.has_squad_entry %}, Squad Entry: ₹{{i.squad_entry}} (Max {{i.squad_entry_members}} members){% endif %}</h6>
                        <select name="mode{{forloop.counter}}" class="mode" onclick="changeprice(this)">
                                <option value="{{i.game_unique_id}} SelectGame" class="opt">Select mode</option>
                                {% if i.has_solo_entry %}
                                <option value="{{i.game_unique_id}} SingleGame" class="opt">Solo</option>
                                {% endif %}
                                {% if i.has_squad_entry %}
                                <option value="{{i.game_unique_id}} SquadGame" class="opt">Squad</option>
                                {% endif %}
                            </select>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="games" data-aos="zoom-in-up" data-aos-duration="2000">
            <div class="container1">
                <h1>Verify your order by clicking the button below</h1>
            </div>
            <div class="container2" data-aos="flip-left">
                <button type="submit" class="button btn btn-outline-success">View Orders Value</button>
            </div>
        </div>
        {% else %}
        <div class="games">
            <div class="container1">
                <h2 data-aos="fade-down">You have to pay a {% if user.referral_code %}dicounted price{% else %}total{% endif %} of</h2>
                <h1 data-aos="flip-down">₹{{total_value}}</h1>
                <h4 data-aos="fade-up">Receipt ID: {{purpose}}</h4>
                {% if user.referral_code %}
                <h4>Undiscounted Price was ₹{{undiscounted_value}}</h4>
                <h4>You got a discount of {{user.referral_code.discount_percentage}}% using the {{user.referral_code}} referral code</h4>
                {% endif %} {% if applied_internal_discount and user.referral_code %}
                <h3>Also,</h3>
                {% endif %} {% if applied_internal_discount %}
                <h3>Also,</h3>
                <h4>We have applied some discount from our side to benefit you 😉</h4>
                {% endif %}
            </div>
            <div class="container2">
                <button data-aos="zoom-in" type="submit" class="button btn btn-outline-warning" id="rzp-button1">Checkout</button>
            </div>
            <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
            <script>
                var options = {
                    "key": "{{ razorpay_merchant_key }}",
                    "amount": "{{ razorpay_amount }}",
                    "currency": "{{ currency }}",
                    "name": "Student Organization Tanzanite",
                    "order_id": "{{ razorpay_order_id }}",
                    "image": "{{ image_url }}",
                    "callback_url": "{{ callback_url }}",
                    "description": "Payment for the Tanza Gaming League 2.0",
                };
                var rzp1 = new Razorpay(options);
                document.getElementById('rzp-button1').onclick = function(e) {
                    rzp1.open();
                    e.preventDefault();
                }
            </script>
        </div>
        {% endif %}
    </form>
</div>
{% else %}
<meta http-equiv="refresh" content="1; URL={{redirect_link}}">
<div data-aos="flip-down" class="container">
    <div data-aos="flip-down" class="games">
        <div data-aos="flip-down" class="container1">
            {% if messages %} {% for message in messages %}
            <h3>{{message|safe}}</h3>
            {% endfor %} {% endif %}
        </div>
    </div>
</div>
{% endif %} {% endblock %}