{% extends 'layout.html' %}{% load static %}{% load compress %}{% block body %} {% compress css %}
<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" />{% endcompress %}{% if not payafter %}
<div class="container">
    <form action="{% if action_url %}{{action_url}}{% else %}?{% endif %}" method="POST">{% csrf_token %}{% if display_games %}{% for i in games %} {% if forloop.counter|divisibleby:"3" or forloop.counter == 1 %}
        <div class="row">
            {% endif %}
            <div class="col-sm-6">
                <div class="games">
                    <div class="container1">
                        <p>{{i.name}}</p>
                    </div>
                    <div class="container2">
                        <p>Select Mode</p>
                        <h6>{% if i.has_solo_entry %}Solo Entry: ₹{{i.solo_entry}}{% endif %} &nbsp;{% if i.has_squad_entry %}, Squad Entry: ₹{{i.squad_entry}} (Max {{i.squad_entry_members}} members){% endif %}</h6>
                        <select name="mode{{forloop.counter}}" class="mode" onclick="changeprice(this)">
                                <option value="{{i.name}} SelectGame" class="opt">Select mode</option>
                                {% if i.has_solo_entry %}
                                <option value="{{i.name}} SingleGame" class="opt">Single</option>
                                {% endif %}
                                {% if i.has_squad_entry %}
                                <option value="{{i.name}} SquadGame" class="opt">Squad</option>
                                {% endif %}
                            </select>
                    </div>
                </div>
            </div>
            {% if forloop.counter|divisibleby:"3" or forloop.counter == games|length %}
        </div>
        {% endif %} {% endfor %}
        <div class="games">
            <div class="container1">
                <h1>Verify your order by clicking the button below</h1>
            </div>
            <div class="container2">
                <button type="submit" class="button btn btn-outline-success">View Orders Value</button>
            </div>
        </div>
        {% else %}
        <div class="games">
            <div class="container1">
                <h3>You have to pay a total of</h3>
                <h1>₹{{total_value}}</h1>
            </div>
            <div class="container2">
                <button type="submit" class="button btn btn-outline-warning">Checkout</button>
            </div>
        </div>
        {% endif %}
    </form>
</div>
{% else %}
<meta http-equiv="refresh" content="1; URL={{redirect_link}}">
<div class="container">
    <div class="games">
        <div class="container1">
            {% if messages %} {% for message in messages %}
            <h3>{{message|safe}}</h3>
            {% endfor %} {% endif %}
        </div>
    </div>
</div>
{% endif %} {% endblock %}