@import url('https://fonts.googleapis.com/css2?family=Stick+No+Bills:wght@300&display=swap');
body {
    font-family: "Open Sans", sans-serif;
    margin: 0;
}


/* start: global style rules */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Montserrat", sans-serif;
}

a {
    text-decoration: none;
}

p,
label,
strong {
    line-height: 2;
    font-size: 0.85em;
    font-weight: 300;
}

.flex {
    display: flex;
    max-width: 1200px;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 0 15px;
    justify-content: space-around;
}

.badge {
    padding: 9px 20px;
    color: #eee;
    display: inline-block;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    font-size: 0.75em;
}

.shade {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
}


/* end: global style rules */


/* start: header styles */

nav {
    background-color: #131313;
    padding: 20px 0 !important;
    position: relative;
    border-bottom: 1px solid #FFB320;
    z-index: 1030;
}

.hamburger-menu {
    background-color: transparent;
    border: 1px solid #FFB320;
    padding: 3px 5px;
    width: 30px;
    cursor: pointer;
    display: none;
}

.hamburger-menu .strip {
    display: block;
    height: 1px;
    background-color: #FFB320;
    margin: 4px 0;
}


/* nav ul {
    list-style-type: none;
    padding: 0;
    margin: 10px 0 0;
}

nav ul li {
    display: inline-block;
    font-size: 1em;
    margin: 0 18px;
}

nav ul li a {
    color: #eee;
    font-weight: 600;
}

nav ul li a:hover {
    color: #FFB320;
} */

.navLogo {
    font-size: 30px;
    font-weight: 900;
    color: #FFB320;
}

.login-register-button {
    background-color: #FFB320;
    color: #131313;
    border-radius: 20px;
    padding: 10px 15px;
    font-size: 0.85em;
    font-weight: 600;
}


/* end: header styles */


/* start: hero styles */

#hero-image {
    background: url("../images/valo.webp") top center no-repeat;
    background-attachment: fixed;
    height: 820px;
}

.hero-marketing-text {
    font-family: 'Architects Daughter', cursive;
    max-width: 1200px;
    margin: -30px auto 0;
    position: absolute;
    top: 40%;
    left: 0;
    right: 0;
    padding: 0 20px;
}

.hero-marketing-text h1 {
    color: #eee;
    font-size: 3.5em;
    font-weight: 300;
    margin: 0.5em 0;
}

.hero-marketing-text span {
    color: #FFB320;
}

.hero-marketing-text h5 {
    color: #eee;
    font-size: 0.85em;
    font-weight: 300;
    max-width: 500px;
    line-height: 2;
    margin-bottom: 2.5em;
}

.hero-marketing-text button {
    background-color: #FFB320;
    color: #131313;
    border-radius: 25px;
    padding: 15px 25px;
    font-size: 0.85em;
    font-weight: 600;
    border: none;
    cursor: pointer;
}


/* end: hero styles */


/* start: games styles */

.games {
    background: url('https://onclickwebdesign.com/wp-content/uploads/recent_games_bg.png') top center no-repeat;
    background-attachment: fixed;
    background-color: #eef2f6;
    border-top: 1px solid #d6dee7;
    border-bottom: 1px solid #d6dee7;
    padding: 70px 0 120px;
}

.games h1 {
    text-align: center;
}

.games .box {
    position: relative;
    flex-basis: 31%;
    background-color: #fff;
}

.games .box1 {
    position: relative;
    flex-basis: 23%;
    margin-top: 2rem;
    background-color: #fff;
}

.games .box .badge {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 2;
}

.games .box img {
    width: 100%;
}

.games .box1 img {
    width: 100%;
}

.games .box .box-lower-section {
    padding: 20px;
}

.games .box1 .box-lower-section {
    padding: 20px;
}

.games .box .box-lower-section p {
    color: #999;
}

.games .box1 .box-lower-section p {
    color: #999;
}

.games .box .box-lower-section a {
    color: #999;
    font-size: 0.8em;
}

.games .box1 .box-lower-section a {
    color: #999;
    font-size: 0.8em;
}

.game-name {
    text-align: center;
}


/* end: games styles */


/* start: tournaments styles */

#tournaments {
    background: url('../icons/banner.jpg') 0 0 repeat;
    background-attachment: fixed;
    padding: 125px 0 105px;
    color: #fff;
    font-size: 14px;
    position: relative;
    font-family: 'Stick No Bills', sans-serif;
}

#tournaments::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.85);
    z-index: 1;
}

#tournaments h1 {
    text-align: center;
    color: #fff;
}

#tournaments .footer-top {
    position: relative;
    z-index: 2;
    text-align: center;
    padding: 80px 0;
}

#tournaments .tournaments-top .tournaments-logo img {
    height: 80px;
}

#tournaments .tournaments-top h3 {
    font-size: 36px;
    font-weight: 700;
    color: #fff;
    position: relative;
    font-family: "Poppins", sans-serif;
    padding: 30px 0 0 0;
    margin-bottom: 0;
}

#tournaments .tournaments-top p {
    font-size: 15px;
    font-style: italic;
    margin: 30px 0 0 0;
    padding: 0;
}

#tournaments .tournaments-top {
    text-align: center;
    font-size: 15px;
    margin-top: 30px;
}

#tournaments .tournaments-bottom {
    border-top: 1px solid #222222;
    z-index: 2;
    position: relative;
    padding-top: 40px;
    padding-bottom: 40px;
}

#tournaments .credits {
    text-align: center;
    font-size: 13px;
    padding-top: 5px;
}


/* end: tournaments styles */


/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

#footer {
    background: url("../images/FzDvk15.webp") center top no-repeat;
    color: #fff;
    font-size: 14px;
    position: relative;
    font-family: 'Stick No Bills', sans-serif;
}

#footer::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.85);
    z-index: 1;
}

#footer .footer-top {
    position: relative;
    z-index: 2;
    text-align: center;
    padding: 80px 0;
}

#footer .footer-top .footer-logo img {
    height: 80px;
}

#footer .footer-top h3 {
    font-size: 36px;
    font-weight: 700;
    color: #fff;
    position: relative;
    font-family: "Poppins", sans-serif;
    padding: 30px 0 0 0;
    margin-bottom: 0;
}

#footer .footer-top p {
    font-size: 15px;
    font-style: italic;
    margin: 30px 0 0 0;
    padding: 0;
}

#footer .footer-top {
    text-align: center;
    font-size: 15px;
    margin-top: 30px;
}

#footer .footer-bottom {
    border-top: 1px solid #222222;
    z-index: 2;
    position: relative;
    padding-top: 40px;
    padding-bottom: 40px;
}

#footer .credits {
    text-align: center;
    font-size: 13px;
    padding-top: 5px;
}


/* start: media queries */

@media (max-width: 1200px) {
    .flex {
        max-width: 1000px;
    }
}

@media (max-width: 991px) {
    .flex {
        max-width: 720px;
    }
    /* nav ul li {
        margin: 0 12px;
        font-size: 0.85em;
    } */
    footer .flex {
        flex-wrap: wrap-reverse;
    }
    footer small {
        flex-basis: 100%;
        font-size: 0.75em;
        text-align: center;
        margin-top: 20px;
        line-height: 1.5;
    }
    footer ul {
        flex-basis: 100%;
        text-align: center;
        padding: 0;
    }
}


/* end 991px */

@media (max-width: 767px) {
    h4 {
        font-size: 1.2em;
    }
    .flex {
        max-width: 540px;
    }
    /* nav ul {
        display: none;
        position: absolute;
        top: 101%;
        width: 100%;
        background-color: #131313;
        left: 0;
        padding: 0;
        margin: 0;
        z-index: 1;
    }
    nav ul li {
        display: block;
        padding: 15px 0 15px 20px;
        border-bottom: 1px solid #FFB320;
        margin: 0;
    }
    nav ul li a {
        font-size: 1em;
    } */
    .hamburger-menu {
        display: block;
        margin-top: 2px;
    }
    #hero-image {
        height: 650px;
        background-size: cover;
    }
    .hero-marketing-text {
        margin-top: -85px;
    }
    .hero-marketing-text h1 {
        font-size: 2.5em;
    }
    .games {
        padding: 60px 0;
    }
    .games .flex,
    #tournaments .flex {
        flex-wrap: wrap;
    }
    #tournaments .box {
        flex-basis: 100%;
        margin-bottom: 20px;
    }
    footer ul li {
        margin: 0 10px;
    }
    footer ul li a {
        font-size: 0.75em;
    }
}


/* end 767px */

@media (max-width: 400px) {
    .logo img {
        width: 150px;
        margin-top: 2px;
    }
    .login-register-button {
        padding: 10px;
        font-size: 0.65em;
    }
}


/* end: media queries */