{% extends 'layout.html' %}{% load static %}{% load extra %}{% load compress %}{% block body %}
<section class="games" id="games">
    <div class="container">
        <center>
            <u><h1>{{game.name}}</h1></u>
            <hr/>
            <img src="{% static game.image_url %}" width="50%" height="50%" loading="lazy" data-aos="fade-down">
        </center>
    </div>
    <hr/>
    <div class="container" data-aos="fade-up">
        <span>
            {{game.long_description|safe}}
        </span>
    </div>
</section>
{% endblock %}