{% extends 'layout.html' %}{% load static %}{% load extra %}{% load compress %}{% block body %}
<section class="games" id="games">
    {% if solo %}
    <center>
        <h2>Mode : <u>Solo</u></h2>
    </center>
    <div class="container row row-cols-1 row-cols-md-3 g-4">
        {% for i in solo %}
        <div class="col">
            <div class="card container">
                <img src="{{i.game.image_url}}" class="card-img-top" alt="{{i.game.name}} Image">
                <div class="card-body">
                    <h5 class="card-title">{{i.game.name|title}}</h5>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}
    <hr/> {% if group %}
    <div class="container">
        <center>
            <h2>Mode : <u>Squad</u></h2>
        </center>
        <div class="row row-cols-1 row-cols-md-2 g-4">
            <div class="col">
                {% for i in group %}
                <div class="col container bg-white me-2 border border-primary rounded">
                    {% if message_group_id == i.group_unique_id %} {% for message in messages %}
                    <div {% if message.tags %} class="alert alert-{{message.tags}} alert-dismissible fade show" {% endif %} role="alert">
                        {{message|safe}}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    {% endfor %}{% endif %}
                    <h3>{{i.game.name|title}}</h3>
                    <form method="post" action="?">{% csrf_token %}
                        <label>Unique Group ID</label>
                        <input type="text" name="groupid" class="form-control" value="{{i.group_unique_id}}" disabled>
                        <hr/>
                        <label>Group Name | {{i.group_name|title}}</label>
                        <input type="text" name="groupname" required class="form-control" value="{{i.group_name|title}}" placeholder="The name of group :)">
                        <hr/>{% for j in i.game.squad_entry_members|range %}
                        <label>Team Mate {{forloop.counter}} User ID {% if i.users.all|filter_users:forloop.counter %}| {{i.users.all|filter_users:forloop.counter}}{% endif %}</label>
                        <input type="text" name="userid {{i.group_unique_id}} {{forloop.counter}}" {% if i.users.all|filter_users:forloop.counter %}value="{{i.users.all|filter_users_id:forloop.counter}}" {% endif %} {% ifequal i.users.all|filter_users:forloop.counter user %}disabled
                            {% endifequal %} required class="form-control" placeholder="Team Mate {{forloop.counter}} User ID" aria-label="Team Mate {{forloop.counter}} User ID"> &nbsp;&nbsp; {% endfor %}
                        <button type="submit" class="btn btn-outline-success my-3">Save</button>
                    </form>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}
</section>

{% endblock %}