{% extends 'layout.html' %}{% load static %}{% load extra %}{% load compress %}{% block body %}
<section class="games" id="games">
    {% if user|solo_user %}
    <center>
        <h2>Mode : <u>Solo</u></h2>
    </center>
    <div class="container row row-cols-1 row-cols-md-3 g-4">
        {% for i in game_groups %}{% if i.solo_or_squad == 'so' %}
        <div class="col">
            <div class="card container" data-aos="flip-down">
                <img data-aos="flip-down" src="{% static  i.game.image_url %}" class="card-img-top" alt="{{i.game.name}} Image" loading="lazy">
                <div class="card-body">
                    <h5 class="card-title">{{i.game.name|title}} </h5>
                </div>
            </div>
        </div>
        {% endif %} {% endfor %}
    </div>
    {% endif %}
    <hr/> {% if user|squad_user %}
    <div class="container">
        <center>
            <h2>Mode : <u>Squad</u></h2>
        </center>
        <div class="row row-cols-1 row-cols-md-2 g-4">
            {% for i in game_groups %}{% if i.solo_or_squad == 'sq' %}
            <div class="col">
                <div class="col container bg-white me-2 border border-primary rounded">
                    {% if message_group_id == i.group_unique_id %} {% for message in messages %}
                    <div {% if message.tags %} class="alert alert-{{message.tags}} alert-dismissible fade show" {% endif %} role="alert">
                        {{message|safe}}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    {% endfor %}{% endif %}
                    <h3 data-aos="fade-down">{{i.game.name|title}}</h3>
                    <img data-aos="fade-down" src=" {% static i.game.image_url %} " class="card-img-top " alt="{{i.game.name}} Image " loading="lazy ">
                    <form method="POST" action="? ">{% csrf_token %}
                        <label data-aos="fade-down ">Unique Group ID</label>
                        <input data-aos="fade-down " type="text " name="groupid " class="form-control " value="{{i.group_unique_id}} " disabled>
                        <hr/>
                        <label data-aos="fade-down ">Group Name | {{i.group_name|title}}</label>
                        <input data-aos="fade-down " type="text " name="groupname " required class="form-control " value="{{i.group_name|title}} " placeholder="The name of group :) ">
                        <hr/>{% for j in i.game.squad_entry_members|range %}
                        <label data-aos="fade-down ">Team Mate {{forloop.counter}} User ID {% if i.users.all|filter_users:forloop.counter %}| {{i.users.all|filter_users:forloop.counter}}{% endif %}</label>
                        <input data-aos="fade-down " type="text " name="userid {{i.group_unique_id}} {{forloop.counter}} " value="{% if i.users.all|filter_users:forloop.counter %}{{i.users.all|filter_users_id:forloop.counter}}{% endif %}" {% ifequal i.users.all|filter_users:forloop.counter user %}disabled{% endifequal %} {% if i|if_user_payed:user %}disabled="true" {% endif %} 
                         class="form-control " placeholder="Team Mate {{forloop.counter}} User ID " aria-label="Team Mate {{forloop.counter}} User ID ">                        &nbsp;&nbsp; {% endfor %}
                        <button type="submit " class="btn btn-outline-success my-3 ">Save</button>
                    </form>
                </div>
            </div>
            {% endif %} {% endfor %}
        </div>
    </div>
    {% endif %}
</section>

{% endblock %}