{% load static %}{% extends "layout.html" %}
<section id="hero-image">
    <div class="hero-marketing-text">
        <h1>The New <span>Era Of Gaming</span> Is Here</h1>
        <h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris scelerisque, at rutrum nulla dictum. Ut ac ligula sapien. Suspendisse cursus faucibus finibus. </h5>
        <a href="pdf/tgl_faq.pdf" target="_blank"><button class="btn btn-outline-warning">Read More</button></a>
    </div>
</section>

<section class="games" id="games">
    <h1>PC Games</h1>
    <div class="container">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
                <div class="card">
                    <img src="images/csgo.jpg" class="card-img-top" loading="lazy" />
                    <div class="box-lower-section card-body">
                        <h4 class="game-name">Counter Strike Global Offence </h4>
                        <p>Lorem ipsum dolor sit amet, consectectur adipiscing elit lorem ipsum dolor sit amet.</p>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card">
                    <img src="images/2576093.jpg" class="card-img-top" loading="lazy" />
                    <div class="box-lower-section card-body">
                        <h4 class="game-name">Valorent</h4>
                        <p>Lorem ipsum dolor sit amet, consectectur adipiscing elit lorem ipsum dolor sit amet.</p>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card">
                    <img src="images/rocket.jpg" class="card-img-top" loading="lazy" />
                    <div class="box-lower-section card-body">
                        <h4 class="game-name">Rocket League</h4>
                        <p>Lorem ipsum dolor sit amet, consectectur adipiscing elit lorem ipsum dolor sit amet.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="tournaments">
    <h1>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nesciunt, sapiente.</h1>
</section>

<section class="games" id="mgames">
    <h1>Mobile Games</h1>
    <div class="container">
        <div class="container row row-cols-1 row-cols-md-4 g-4">
            <div class="col">
                <div class="card">
                    <img src="images/csgo.jpg" class="card-img-top" loading="lazy" />
                    <div class="box-lower-section card-body">
                        <h4 class="game-name">Counter Strike Global Offence </h4>
                        <p>Lorem ipsum dolor sit amet, consectectur adipiscing elit lorem ipsum dolor sit amet.</p>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card">
                    <img src="images/2576093.jpg" class="card-img-top" loading="lazy" />
                    <div class="box-lower-section card-body">
                        <h4 class="game-name">Valorent</h4>
                        <p>Lorem ipsum dolor sit amet, consectectur adipiscing elit lorem ipsum dolor sit amet.</p>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card">
                    <img src="images/rocket.jpg" class="card-img-top" loading="lazy" />
                    <div class="box-lower-section card-body">
                        <h4 class="game-name">Rocket League</h4>
                        <p>Lorem ipsum dolor sit amet, consectectur adipiscing elit lorem ipsum dolor sit amet.</p>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card">
                    <img src="images/rocket.jpg" class="card-img-top" loading="lazy" />
                    <div class="box-lower-section card-body">
                        <h4 class="game-name">Rocket League</h4>
                        <p>Lorem ipsum dolor sit amet, consectectur adipiscing elit lorem ipsum dolor sit amet.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>